.light-theme{
  --background-color: #ffffff;
  --text-color: #000000;
  --header-color-text: #f8f9fa;
  --header-color-background: #222;
  --icon-color: #000000;
}

.dark-theme{
  --background-color: #121212;
  --text-color: #e0e0e0;
  --header-color-text: #222;
  --header-color-background: #ffffff;
  --icon-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-color-background);
  color: var(--header-color-text);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

a{
  color: var(--header-color-text);
  text-decoration: none;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#theme-toggle img {
  width: 100%;
  height: 100%;
  display: none;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  padding: 0.5rem;
}

#theme-toggle img.light-theme-toggle-icon {
  display: none;
}

#theme-toggle.dark-theme img.theme-toggle {
  display: none;
}

#theme-toggle.dark-mode img.theme-toggle-icon {
  display: inline;
}

footer{
  text-align: center;
  padding: 1rem;
  background-color: var(--header-color-background);
  color: var(--header-color-text);
}